<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <title>Todo List</title>
</head>
<body>
<div class="container">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <!--            <div class="col col-xl-10">-->
            <div class="card" style="width:500px;">
                <div class="card-body p-5">
                    <h5 class="card-title text-center mb-5">Todos</h5>
                    <!-- Tabs navs -->
                    <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a
                                    aria-controls="ex1-tabs-1"
                                    aria-selected="true"
                                    class="nav-link active"
                                    data-bs-toggle="tab"
                                    href="#ex1-tabs-1"
                                    id="ex1-tab-1"
                                    role="tab"
                            >All</a
                            >
                        </li>
                        <li class="nav-item" role="presentation">
                            <a
                                    aria-controls="ex1-tabs-2"
                                    aria-selected="false"
                                    class="nav-link"
                                    data-bs-toggle="tab"
                                    href="#ex1-tabs-2"
                                    id="ex1-tab-2"
                                    role="tab"
                            >Active</a
                            >
                        </li>
                        <li class="nav-item" role="presentation">
                            <a
                                    aria-controls="ex1-tabs-3"
                                    aria-selected="false"
                                    class="nav-link"
                                    data-bs-toggle="tab"
                                    href="#ex1-tabs-3"
                                    id="ex1-tab-3"
                                    role="tab"
                            >Completed</a
                            >
                        </li>
                    </ul>
                    <!-- Tabs navs -->

                    <!-- Tabs content -->
                    <div class="tab-content" id="ex1-content">
                        <div aria-labelledby="ex1-tab-1" class="tab-pane fade show active" id="ex1-tabs-1"
                             role="tabpanel">
                            <ul class="list-group mb-0" th:each="item : ${todos}">
                                <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                                    style="background-color: #f4f6f7;">
                                    <a class="d-flex" style="text-decoration:none;"
                                       th:href="@{/edit/{id}(id=${item.id})}">
                                        <form method="post" th:action="@{/{id}(id=${item.id})}" th:object="${item}">
                                            <input aria-label="..." class="form-check-input me-2" th:checked="${item.completed}"
                                                   th:onclick="submit()" type="checkbox"/>
                                        </form>
                                        <s th:if="${item.completed == true}" th:text="${item.title}"></s>
                                        <span th:if="${item.completed == false}" th:text="${item.title}"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div aria-labelledby="ex1-tab-2" class="tab-pane fade" id="ex1-tabs-2" role="tabpanel">
                            <ul class="list-group mb-0" th:each="item : ${todos}"
                                th:if="${item.completed == false}">
                                <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                                    style="background-color: #f4f6f7;">
                                    <a class="d-flex" style="text-decoration:none;"
                                       th:href="@{/edit/{id}(id=${item.id})}">
                                        <form method="post" th:action="@{/{id}(id=${item.id})}" th:object="${test}">
                                            <input aria-label="..." class="form-check-input me-2" th:checked="${item.completed}"
                                                   th:onclick="submit()" type="checkbox"/>
                                        </form>
                                        <span th:text="${item.title}"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div aria-labelledby="ex1-tab-3" class="tab-pane fade" id="ex1-tabs-3" role="tabpanel">
                            <ul class="list-group mb-0" th:each="item : ${todos}" th:if="${item.completed == true}">
                                <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                                    style="background-color: #f4f6f7;">
                                    <a class="d-flex" style="text-decoration:none;"
                                       th:href="@{/edit/{id}(id=${item.id})}">
                                        <form method="post" th:action="@{/{id}(id=${item.id})}" th:object="${test}">
                                            <input aria-label="..." class="form-check-input me-2" th:checked="${item.completed}"
                                                   th:onclick="submit()" type="checkbox"/>
                                        </form>
                                        <s th:text="${item.title}"></s>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Tabs content -->
                </div>
            </div>
            <!--            </div>-->
        </div>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>